main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.game-size {
  width: 850px;
  height: 650px;
  background-color: rgb(241, 241, 252);
}

.chat {
  min-height: 100px;
  height: 25vh;
}

.ranking {
  min-height: 100px;
  height: 25vh;
}
